
  
  .ball {
    height: 14px;
    width: 16px;
    z-index: 11;
    background-color: #131313;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  